In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [4]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [5]:
train.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A

In [6]:
test.head()

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,ba0cc30ba34e7a46764c09dfc38ed83d15828897,43,RS,19,F,1,1,1,3,1,...,NaN,NaN,E,E,H,B,B,C,D,A
1,177f281c68fa032aedbd842a745da68490926cd2,15,PA,24,M,3,2,1,4,1,...,NaN,NaN,B,C,B,A,A,C,D,A
2,6cf0d8b97597d7625cdedc7bdb6c0f052286c334,29,BA,16,F,2,1,3,0,1,...,NaN,NaN,E,F,G,B,B,A,NaN,D
3,5c356d810fa57671402502cd0933e5601a2ebf1e,41,PR,17,F,1,1,2,0,2,...,40.0,480.0,E,E,E,C,B,B,C,A
4,df47c07bd881c2db3f38c6048bf77c132ad0ceb3,53,DF,19,F,1,1,1,1,1,...,80.0,720.0,E,E,E,B,B,B,D,A

In [9]:
train_corr = train.corr()
train_corr.head()

,Unnamed: 0,NU_ANO,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,...,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041
Unnamed: 0,1.000000,NaN,-0.007258,-0.007250,-0.007201,0.003678,0.005707,-0.006217,-0.004527,-0.004615,...,0.001520,0.018074,0.001693,-0.008141,0.002724,-0.004914,0.003906,0.001002,-0.010967,-0.029937
NU_ANO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CO_MUNICIPIO_RESIDENCIA,-0.007258,NaN,1.000000,0.999865,-0.002296,0.020813,-0.236178,0.009710,0.865294,0.865216,...,0.004115,-0.030114,-0.050304,-0.050138,-0.040668,-0.013479,-0.032710,-0.094862,-0.077456,-0.033205
CO_UF_RESIDENCIA,-0.007250,NaN,0.999865,1.000000,-0.002017,0.020947,-0.234786,0.009433,0.864791,0.864919,...,0.003968,-0.030345,-0.050096,-0.049292,-0.040688,-0.013647,-0.032467,-0.094113,-0.076838,-0.033149
NU_IDADE,-0.007201,NaN,-0.002296,-0.002017,1.000000,0.533462,0.009675,-0.017713,-0.030711,-0.030259,...,-0.044791,0.025077,-0.030681,0.012739,0.021949,-0.003569,-0.035306,-0.069973,-0.010988,0.160526

In [11]:
treino_corr = train_corr.loc['IN_TREINEIRO']
treino_corr

Unnamed: 0                 0.006717
NU_ANO                          NaN
CO_MUNICIPIO_RESIDENCIA   -0.035317
CO_UF_RESIDENCIA          -0.034944
NU_IDADE                  -0.295091
TP_ESTADO_CIVIL           -0.117932
TP_COR_RACA                0.009676
TP_NACIONALIDADE          -0.015179
CO_MUNICIPIO_NASCIMENTO   -0.018218
CO_UF_NASCIMENTO          -0.018005
TP_ST_CONCLUSAO            0.533983
TP_ANO_CONCLUIU           -0.257710
TP_ESCOLA                 -0.244562
TP_ENSINO                       NaN
IN_TREINEIRO               1.000000
CO_ESCOLA                       NaN
CO_MUNICIPIO_ESC                NaN
CO_UF_ESC                       NaN
TP_DEPENDENCIA_ADM_ESC          NaN
TP_LOCALIZACAO_ESC              NaN
TP_SIT_FUNC_ESC                 NaN
IN_BAIXA_VISAO            -0.013602
IN_CEGUEIRA                     NaN
IN_SURDEZ                 -0.007374
IN_DEFICIENCIA_AUDITIVA    0.000873
IN_SURDO_CEGUEIRA               NaN
IN_DEFICIENCIA_FISICA     -0.018078
IN_DEFICIENCIA_MENTAL     -0.004663
IN_DEFICIT_ATENCAO        -0.004848
IN_DISLEXIA               -0.003297
                             ...
TP_PRESENCA_CN             0.094692
TP_PRESENCA_CH             0.094692
TP_PRESENCA_LC             0.092454
TP_PRESENCA_MT             0.092454
NU_NOTA_CN                -0.037874
NU_NOTA_CH                -0.053460
NU_NOTA_LC                -0.028261
NU_NOTA_MT                -0.022287
TP_LINGUA                 -0.036395
TP_STATUS_REDACAO          0.006688
NU_NOTA_COMP1             -0.008709
NU_NOTA_COMP2             -0.023308
NU_NOTA_COMP3             -0.030147
NU_NOTA_COMP4             -0.025958
NU_NOTA_COMP5             -0.025811
NU_NOTA_REDACAO           -0.026328
Q005                       0.033411
Q029                      -0.043901
Q030                      -0.105479
Q031                      -0.034819
Q032                      -0.000943
Q033                      -0.071335
Q034                       0.055265
Q035                      -0.061032
Q036                      -0.069476
Q037                      -0.020651
Q038                       0.018855
Q039                       0.040348
Q040                       0.005270
Q041                      -0.046232
Name: IN_TREINEIRO, Length: 107, dtype: float64

In [13]:
aux = treino_corr[(treino_corr >= 0.25) | (treino_corr <= -0.25)]
aux

NU_IDADE          -0.295091
TP_ST_CONCLUSAO    0.533983
TP_ANO_CONCLUIU   -0.257710
IN_TREINEIRO       1.000000
Name: IN_TREINEIRO, dtype: float64

In [14]:
variaveis_sel = aux.index
variaveis_sel

Index(['NU_IDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'IN_TREINEIRO'], dtype='object')

In [15]:
df_train = train[variaveis_sel]

In [16]:
y_train = df_train['IN_TREINEIRO']
X_train = df_train.drop(columns = 'IN_TREINEIRO')

In [18]:
X_test = test[X_train.columns]
X_test

      NU_IDADE  TP_ST_CONCLUSAO  TP_ANO_CONCLUIU
0           19                1                3
1           24                1                4
2           16                3                0
3           17                2                0
4           19                1                1
5           18                2                0
6           16                3                0
7           18                2                0
8           16                3                0
9           35                1               10
10          19                2                0
11          17                2                0
12          22                1                5
13          17                2                0
14          18                1                1
15          17                2                0
16          18                1                1
17          15                3                0
18          18                2                0
19          32                1               10
20          17                2                0
21          28                1                3
22          35                1               10
23          33                1               10
24          17                2                0
25          20                1                1
26          19                3                0
27          19                1                2
28          20                2                0
29          19                4                0
...        ...              ...              ...
4540        18                2                0
4541        19                1                2
4542        25                1                6
4543        22                1                5
4544        23                1                3
4545        23                3                0
4546        17                2                0
4547        21                2                0
4548        18                1                1
4549        19                3                0
4550        28                1               10
4551        26                4                0
4552        35                1                5
4553        17                2                0
4554        15                3                0
4555        17                3                0
4556        18                2                0
4557        17                2                0
4558        28                4                0
4559        19                1                2
4560        18                2                0
4561        17                2                0
4562        21                1                2
4563        17                2                0
4564        19                1                1
4565        17                2                0
4566        20                1                2
4567        22                1                5
4568        19                2                0
4569        33                1               10

[4570 rows x 3 columns]

In [19]:
X_train = ss.fit_transform(X_train) 
X_test = ss.transform(X_test)

In [20]:
#Instanciando o modelo Random Forest Classifier
classifier = RandomForestClassifier(n_estimators = 100, random_state = 42)

In [21]:
#Treinando o modelo
classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [22]:
y_pred_test = classifier.predict(X_test)

In [24]:
df_answer = pd.DataFrame()
df_answer['NU_INSCRICAO'] = test['NU_INSCRICAO']
df_answer['IN_TREINEIRO'] = y_pred_test
df_answer

                                  NU_INSCRICAO  IN_TREINEIRO
0     ba0cc30ba34e7a46764c09dfc38ed83d15828897             0
1     177f281c68fa032aedbd842a745da68490926cd2             0
2     6cf0d8b97597d7625cdedc7bdb6c0f052286c334             1
3     5c356d810fa57671402502cd0933e5601a2ebf1e             0
4     df47c07bd881c2db3f38c6048bf77c132ad0ceb3             0
5     3f28749fb79fb059caf5aed79625a5addfd7a91a             0
6     bb2a0edddf3c59181a1496390aaaee7f32624d9d             1
7     cc7cab347fe5455aae983f3701ca40f84dc01949             0
8     95e9338f1da02f7bfa0e3194130afdccc0fb5457             1
9     155f84f2ee5b34e658f2adcc70f2ec83e37040cb             0
10    40f4566da0536c486a34ec6ba85257eaebf3255c             0
11    366749b2ea3e6023fdbfdbf7c6596dfab31885d9             0
12    52502d4aca10ad7261a4fe9983ddca1fd8b45c31             0
13    52b20639bb0294b01c9be89f80cf682ac4d9f133             0
14    1718c649736b61d49a714f2a1c0a3e37a4d7c3b4             0
15    2410aa55f6eedc95bf049e118f7686714b7efca7             0
16    a82ffea78453d320efe7800590c717a32a9b9c7a             0
17    4a5b86a6ea23f1551456cbf49ed54885992de4ce             1
18    d3a6a5746484c9046c1fc1f58f5a0a4da252c391             0
19    d18ae8829870011d4a3b1651e0bfa1640b8e9eb2             0
20    b79c3f5daf56ab613a6ee75c8ad7d190cca42a78             0
21    f2a7137f1f083351e14c6625a25cdd6809abb9eb             0
22    bc9bf0eedfd80d0ce69a6df520b634790f3ce448             0
23    c567a1f6e1d7a22b58ad729bdc2a4b2836da2039             0
24    a309ebeff49f88dbab213711495fbb13db2328ef             0
25    18d4f88a769aa62d7732a5fa610d935893da52ae             0
26    c4a95595f52e40030703fda3dbfd7a7932395d3b             0
27    d3464236d53369514fbf151775b514a596a67400             0
28    eaafa5442e02ae0eb1269507572450c52aa373a6             0
29    e9e4c0a15dbd4e92cace2e00b95c16ad08632e17             0
...                                        ...           ...
4540  d4dfcd1c05a30cdbea87c1e98f8663e456c86d0e             0
4541  77011c6ec5792e28086ba34d0e53faf28e7a0809             0
4542  89346606f1baa1450cdc099107eeef05342e5852             0
4543  5f512fb3556a7a567bdca975191c40ca08d492b8             0
4544  f1f4cbbebcf27ed28d720198a5018fb362875af1             0
4545  f816860ce5c2b57bd762b58837fe3ba39f59fa2b             0
4546  1465217e49913041851bc4ba75c17736cb9a6368             0
4547  29db02b5c661d7ba17547fcb84bb3df3f2345607             0
4548  3a166e9f4f34e0766e0d8bc74a6caee3a573bc5f             0
4549  5c755a25a3441f56891e98d571e5237392856fe1             0
4550  27b674aea91a8a3c6652212e3cc9dd41370095b9             0
4551  e29324716ee9ce7bea9383480aa98f59c7a6d885             0
4552  9eaf628037ff65afa2a424d2329a38e80b326f8f             0
4553  46d949289f8eddad46c9799671a4c1a63d6b2bf1             0
4554  bfcb0cd5751b3a8d7c7447bec542235242c36caf             1
4555  b63a50e01747dfd607f88af029ec89324da61966             1
4556  cdf6d93623ca5116a0d483a8682b5f35eb99f6f3             0
4557  d4e35bc6c21e119c78c411bdd4ff3bdab7fa7b1b             0
4558  80689f334285ddc088d8ee19c28bc289de2126e7             0
4559  1c4d5d329dd792c39e52de9547718d7bdb307ded             0
4560  e4d38f80b6c869e4748cbef9373a22cc5c775728             0
4561  ea385ce7d39aa1803bbbe7eb7dd9ff574dbbd7b9             0
4562  7e3bcf2966378b00af9ca687bcdb8c5c85e9cfeb             0
4563  3b71684faf93eac1ae36380f35c54253e4b13509             0
4564  96f0f13cd1e74986eddd4a97bf1a3006a8ce2f74             0
4565  361b7fcd8867119550fe2af5aa729ffad89a7cf5             0
4566  d8a0e4c9e29494cc9bba2422bd79333931475ee1             0
4567  3f1c3388244df8d6521e983a809292d9f3bca643             0
4568  1778e9c4cef591beb6b986d191d15ed05de816b0             0
4569  096809759695097e384e766d2d9e23a34fc81610             0

[4570 rows x 2 columns]

In [25]:
df_answer.to_csv('answer.csv', index=False, header=True)